.theater {
    .route {
        margin: 25px 0;
        font-size: 12px;
    }
    >p {
        color: gray;
        >span {
            color: black;
        }
    }
    >p >span {
        color: black;
    }

    .theaterimg {
        display: flex;
        .img {
            padding: 5px;
        }
    }
    .belowcover {
        display: flex;
        .left {
            width: 50%;
            margin-right: 10px;
           >h3 {
                color: #262424;
                margin: 30px 0 15px 0;
            }
            .location {
                // display: flex;
                margin-bottom: 20px;
                select, input {
                    border: 1.5px solid lightgray;
                    padding: 3px;
                    width: 35%;
                }
                select {
                    // flex: 1;
                }
                input {
                    // flex: 1;
                    margin: 0 15px 0 0;
                }
            }
    
            .showcover {
                .show {
                    display: flex;
                    border-bottom: 1px solid lightgray;
                    padding-bottom: 20px;
                    margin-top: 20px;
                    .showinfo {
                        color: #262424;
                        font-size: 15px;
                        margin-left: 15px;
                        >p {
                            margin-bottom: 10px;
                        }
                        >span {
                            margin-bottom: 20px;
                            display: inline-block;
                            margin-right: 10px;
                        }
                        
                        .type_time {
                            margin-top: 15px;
                            // margin-bottom: 20px;
                            display: flex;
                            .type {
                                font-size: 12px;
                                width: 30%;
                            }
                            .timecover {
                                display: flex;
                                flex-wrap: wrap;
                                width: 70%;
                                .time {
                                    width: 20%;
                                    font-size: 10px;
                                    padding: 2px;
                                    text-align: center;
                                    border: 1px solid lightgray;
                                    box-sizing: border-box;
                                    margin-right: 10px;
                                    margin-bottom: 10px;
                                }
                        
                            }
                        }
                    }
                }
            }
        }
        
        .right {
            width: 50%;
            .ticketprice {
                >h3 {
                    color: #262424;
                    margin: 30px 0 15px 0;
                }
            }

            .detailinfo {
                color: #262424;
                >h3 {
                    color: #262424;
                    margin: 30px 0 15px 0;
                }
                .address, .phone {
                    color: gray;
                    margin-bottom: 5px;
                    >span {
                        color: #262424;
                    } 
                }
            }

        }
        
    }
}


